<%= form_with(model: firm, local: true) do |form| %>
  <% if firm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(firm.errors.count, 'error') %> prohibited this firm from being saved:</h2>

      <ul>
      <% firm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: 'from-label' %>
    <%= form.text_field :name, id: :firm_name, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :cuit, class: 'from-label' %>
    <%= form.text_field :cuit, id: :firm_cuit, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :afip_condition, class: 'from-label' %>
    <%= form.text_field :afip_condition, id: :firm_afip_condition, class: 'form-input' %>
  </div>

  <div class="actions">
    <%= form.submit t('view.firms.save_firm'), class: 'btn btn-primary' %>
  </div>
<% end %>
