<p id="notice"><%= notice %></p>

<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= t 'activerecord.attributes.firm.name' %></th>
        <th><%= t 'activerecord.attributes.firm.cuit' %></th>
        <th><%= t 'activerecord.attributes.firm.afip_cond' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @firms.each do |firm| %>
        <tr>
          <td><%= firm.name %></td>
          <td><%= firm.cuit %></td>
          <td><%= firm.afip_condition %></td>
          <td>
            <%= link_to 'Show', firm %>
            <%= link_to 'Edit', edit_firm_path(firm) %>
            <%= link_to 'Destroy', firm, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Firm', new_firm_path, class: 'btn btn-primary' %>
</div>
