<%= render 'shared/basic_navigation', navigation: {
    back: firm_path(@firm)
} %>

<div class="products-list">
  <% if params[:trade_type] === 'buys' %>
      <section>
        <div class="columns">
          <div class="column col-4 margin-auto">
            <%= image_tag image_path('logo_full.jpg'), { class: 'image-fill' } %>
          </div>
        </div>
      </section>
  <% end %>

  <section class="products-list__list pad-top-5">
    <table class="table table-hover mar-bottom-3">
      <tbody>
      <% @trades.each do |trade| %>
          <tr>
            <td><%= trade.product.name %></td>
            <td class="products-list__list__price">$<%= trade.available_price.try(:price) %> + I.V.A. por <%= trade.product.unit %>.</td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </section>
</div>
