<div class="products-list" style="height: <%= (@information[:number_of_pages]) * 27 %>cm;">
  <% if params[:trade_type] === 'buys' %>
    <section class="products-list__header mar-top-6 pad-top-3">
      <p class="products-list__header__date"><%= @information[:header_date] %></p>
      <p class="products-list__header__firm"><%= @information[:header_firm] %></p>
      <p class="products-list__header__contact"><%= @information[:header_contact] %></p>
      <p class="products-list__header__title pad-top-4"><%= @information[:header_title] %></p>
    </section>
  <% end %>

  <section class="products-list__list pad-top-1">
    <table class="table">
      <tbody>
        <% @trades.each do |trade| %>
            <tr>
              <td style="padding-bottom: <%= @information[:list_padding] %>;">
                <%= trade.product.name %>
              </td>
              <td class="products-list__list__price" style="padding-bottom: <%= @information[:list_padding] %>;">
                <%= t('view.firms.buys.products_list_price', price: trade.available_price.try(:price), unit:trade.product.unit) %>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
