<%= render 'shared/basic_navigation', navigation: {
    back: firms_path, edit: edit_firm_path(@firm)
} %>

<p>
  <strong><%= Firm.human_attribute_name :name %>:</strong>
  <%= @firm.name %>
</p>

<p>
  <strong><%= Firm.human_attribute_name :cuit %>:</strong>
  <%= @firm.cuit %>
</p>

<p>
  <strong><%= Firm.human_attribute_name :afip_cond %>:</strong>
  <%= @firm.afip_condition %>
</p>
