<%= render 'shared/basic_navigation', navigation: {
    back: firms_path, edit: edit_firm_path(@firm)
} %>

<div class="columns">
  <div class="column col-3">
    <p>
      <b><%= Firm.human_attribute_name :name %>:</b>
      <%= @firm.name %>
    </p>

    <p>
      <b><%= Firm.human_attribute_name :cuit %>:</b>
      <%= @firm.cuit %>
    </p>

    <p>
      <b><%= Firm.human_attribute_name :afip_cond %>:</b>
      <%= @firm.afip_condition %>
    </p>

    <p>
      <b><%= Firm.human_attribute_name :address %>:</b>
      <%= @firm.address%>
    </p>

    <p>
      <b><%= Firm.human_attribute_name :opens_at %>:</b>
      <%= @firm.opens_at %>
    </p>

    <p>
      <b><%= Firm.human_attribute_name :closes_at %>:</b>
      <%= @firm.closes_at %>
    </p>
  </div>

  <div class="column col-9">
    <section>
      <h3><%= t('view.contacts.index_title') %></h3>

      <%= render 'contacts/index' %>
    </section>
  </div>

  <div class="column col-6">
    <section>
      <h3><%= t('view.firms.show.sells') %></h3>

      <%= render 'firms/trades/index', trades: @sells, trade_type: 'sells' %>
    </section>
  </div>

  <div class="column col-6">
    <section>
      <h3><%= t('view.firms.show.buys') %></h3>

      <%= render 'firms/trades/index', trades: @buys, trade_type: 'buys' %>
    </section>
  </div>
</div>

<script>
  JsModals.bindEvents()
</script>
