<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @firm.name %>
</p>

<p>
  <strong>Cuit:</strong>
  <%= @firm.cuit %>
</p>

<p>
  <strong>Afip condition:</strong>
  <%= @firm.afip_condition %>
</p>

<%= link_to '', edit_firm_path(@firm), class: 'fa fa-2x fa-pencil-square' %> |
<%= link_to t('label.back'), firms_path %>
