<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: 'from-label' %>
    <%= f.email_field :email, autofocus: true, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'from-label' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: 'off', class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: 'from-label' %>
    <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-input' %>
  </div>

  <div class="actions">
    <%= f.submit 'Sign up', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
