<%= render 'shared/basic_navigation', navigation: {
  back: recipes_path, edit: edit_recipe_path(@recipe)
} %>

<p>
  <b><%= Recipe.human_attribute_name :name %>:</b>
  <%= @recipe.name %>
</p>

<p>
  <b><%= Recipe.human_attribute_name :description %>:</b>
  <%= @recipe.description %>
</p>

<p>
  <b><%= Recipe.human_attribute_name :product %>:</b>
  <%= @recipe.product %>
</p>

