<%= render 'shared/basic_navigation', navigation: {
  back: recipes_path, edit: edit_recipe_path(@recipe)
} %>

<p>
  <strong><%= Recipe.human_attribute_name :name %>:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong><%= Recipe.human_attribute_name :description %>:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong><%= Recipe.human_attribute_name :product %>:</strong>
  <%= @recipe.product %>
</p>

