<%= render 'shared/basic_navigation', navigation: {
  back: product_path(@recipe.product), edit: edit_product_recipe_path(@recipe.product, @recipe)
} %>

<p>
  <b><%= Recipe.human_attribute_name :name %>:</b>
  <%= @recipe.name %>
</p>

<p>
  <b><%= Recipe.human_attribute_name :description %>:</b>
  <%= @recipe.description %>
</p>

<p>
  <b><%= Recipe.human_attribute_name :product %>:</b>
  <%= @recipe.product.name %>
</p>

