<%= form_with(model: budget, local: true) do |form| %>
  <% if budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget.errors.count, 'error') %> prohibited this budget from being saved:</h2>

      <ul>
      <% budget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :firm_id, class: 'from-label' %>
    <%= form.text_field :firm_id, id: :budget_firm_id, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :number, class: 'from-label' %>
    <%= form.text_field :number, id: :budget_number, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :date, class: 'from-label' %>
    <%= form.date_select :date, id: :budget_date, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :from, class: 'from-label' %>
    <%= form.date_select :from, id: :budget_from, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :to, class: 'from-label' %>
    <%= form.date_select :to, id: :budget_to, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :destinatary, class: 'from-label' %>
    <%= form.text_field :destinatary, id: :budget_destinatary, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :contact, class: 'from-label' %>
    <%= form.text_field :contact, id: :budget_contact, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :title, class: 'from-label' %>
    <%= form.text_field :title, id: :budget_title, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :header_image, class: 'from-label' %>
    <%= form.text_field :header_image, id: :budget_header_image, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :body_image, class: 'from-label' %>
    <%= form.text_field :body_image, id: :budget_body_image, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :pdf_file, class: 'from-label' %>
    <%= form.text_field :pdf_file, id: :budget_pdf_file, class: 'form-input' %>
  </div>

  <div class="actions">
    <%= form.submit t('view.budgets.save'), class: 'btn btn-primary'  %>
  </div>
<% end %>
