<%= render 'shared/basic_navigation', navigation: {
  back: @information[:back_path], edit: @information[:edit_path], print: 'true'
} %>

<section class="budget-info__header mar-bottom-3">
  <div class="columns">
    <div class="column col-3">
      <b><%= Budget.human_attribute_name 'number' %>:</b>
      <%= @budget.number %>
    </div>
    <div class="column col-3">
      <b><%= Budget.human_attribute_name 'from' %>:</b>
      <%= @budget.from %>
    </div>
    <div class="column col-3">
      <b><%= Budget.human_attribute_name 'to' %>:</b>
      <%= @budget.to %>
    </div>
    <div class="column col-3">
      <b><%= Budget.human_attribute_name 'pdf_file' %>:</b>
      <%= @budget.pdf_file %>
    </div>
  </div>
</section>

<section class="products-list__banner">
  <div class="columns">
    <div class="column col-4 margin-auto">
      <%= image_tag image_path('logo_full.jpg'), { class: 'image-fill' } %>
    </div>
  </div>
</section>

<section class="products-list__header mar-top-6 pad-top-3">
  <p class="products-list__header__date"><%= l(@budget.date, format: t('date.formats.extended', place: 'Mendoza')) %></p>
  <p class="products-list__header__firm"><%= @budget.destinatary %></p>
  <p class="products-list__header__contact"><%= @budget.contact %></p>
  <p class="products-list__header__title pad-top-4"><%= @budget.title %></p>
</section>

<div class="products-list__background">
  <%= image_tag image_path('logo_background_pdf.jpg'), { class: 'image-fill' } %>
</div>

<section class="products-list__list mar-bottom-6 pad-top-1">
  <table class="table">
    <tbody>
    <% @budget.lines.each do |line| %>
      <tr>
        <td style="padding-bottom: <%= @information[:list_padding] %>;">
          <%= line.product.name %>
        </td>
        <td class="products-list__list__price" style="padding-bottom: <%= @information[:list_padding] %>;">
          <%= t('view.firms.buys.products_list_price',
                price: line.unit_price,
                unit: line.unit)
          %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
