<%= render 'shared/basic_navigation', navigation: {
  back: budgets_path, edit: edit_budget_path(@budget)
} %>

<p>
  <b><%= Budget.human_attribute_name 'firm' %>:</b>
  <%= @budget.firm %>
</p>

<p>
  <b><%= Budget.human_attribute_name 'number' %>:</b>
  <%= @budget.number %>
</p>

<p>
  <b><%= Budget.human_attribute_name 'date' %>:</b>
  <%= @budget.date %>
</p>

<p>
  <b><%= Budget.human_attribute_name 'from' %>:</b>
  <%= @budget.from %>
</p>

<p>
  <b><%= Budget.human_attribute_name 'to' %>:</b>
  <%= @budget.to %>
</p>

<p>
  <b><%= Budget.human_attribute_name 'destinatary' %>:</b>
  <%= @budget.destinatary %>
</p>

<p>
  <b><%= Budget.human_attribute_name 'contact' %>:</b>
  <%= @budget.contact %>
</p>

<p>
  <b><%= Budget.human_attribute_name 'title' %>:</b>
  <%= @budget.title %>
</p>

<p>
  <b><%= Budget.human_attribute_name 'header_image' %>:</b>
  <%= @budget.header_image %>
</p>

<p>
  <b><%= Budget.human_attribute_name 'body_image' %>:</b>
  <%= @budget.body_image %>
</p>

<p>
  <b><%= Budget.human_attribute_name 'pdf_file' %>:</b>
  <%= @budget.pdf_file %>
</p>

