<section class="section section-header">
  <section class="grid-header container grid-960">
    <nav class="navbar">
      <section class="navbar-section">
        <a href="<%= root_path %>" class="navbar-brand mr-10"><%= t 'app_name' %></a>
        <a href="<%= firms_path %>" class="btn btn-link"><%= t 'menu.firms' %></a>
        <a href="<%= firms_path %>" class="btn btn-link"><%= t 'menu.monthly_movements' %></a>
        <a href="<%= firms_path %>" class="btn btn-link"><%= t 'menu.products' %></a>
        <a href="<%= firms_path %>" class="btn btn-link"><%= t 'menu.users' %></a>
        <a href="<%=  new_user_registration_path %>" class="btn btn-link"><%= t 'menu.actions.register' %></a>
        <a href="<%=  new_user_session_path %>" class="btn btn-link"><%= t 'menu.actions.login' %></a>
      </section>
    </nav>
  </section>
</section>