<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, 'error') %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="columns">
    <div class="form-group column col-5">
      <%= form.label :firm_id, class: 'from-label' %>
      <%= form.select :firm_id, Firm.firms_for_select, {}, {
            id: :order_firm_id,
            class: 'form-select js-fetcheable-select-extra',
            data: { model: 'firm' }
      } %>
    </div>

    <div class="form-group column col-2">
      <%= form.label :number, class: 'from-label' %>
      <%= form.number_field :number, id: :order_number, class: 'form-input' %>
    </div>

    <!--Not properly loaded on edit-->
    <div class="form-group column col-5">
      <%= form.label :date, class: 'from-label' %>
      <%= form.text_field :date, id: :order_date, class: 'form-input', type: :date %>
    </div>

    <div class="form-group column col-5 pad-top-0">
      <%= form.label :contact_name, class: 'from-label' %>
      <%= form.text_field :contact_name, id: :order_contact_name, class: 'form-input' %>
    </div>

    <div class="form-group column col-7 pad-top-0">
      <%= form.label :detail, class: 'from-label' %>
      <%= form.text_field :detail, id: :order_detail, class: 'form-input' %>
    </div>

    <div class="column col-3 pad-top-0">
      <div class="form-group">
        <%= form.label :currency, class: 'from-label' %>
        <%= form.select :currency, Order.currencies_for_select, {}, { id: :order_currency, class: 'form-select' } %>
      </div>

      <div class="form-group">
        <%= form.label :deliver_fee, class: 'from-label' %>
        <%= form.text_field :deliver_fee, id: :order_deliver_fee, class: 'form-input' %>
      </div>

      <div class="form-group">
        <%= form.label :packaging_fee, class: 'from-label' %>
        <%= form.text_field :packaging_fee, id: :order_packaging_fee, class: 'form-input' %>
      </div>

      <div class="form-group">
        <%= form.label :expected_deliver_from, class: 'from-label' %>
        <%= form.text_field :expected_deliver_from, id: :order_expected_deliver_from, class: 'form-input', type: :date  %>
      </div>

      <div class="form-group">
        <%= form.label :expected_deliver_to, class: 'from-label' %>
        <%= form.text_field :expected_deliver_to, id: :order_expected_deliver_to, class: 'form-input', type: :date  %>
      </div>

      <div class="form-group">
        <%= form.label :tracking_code, class: 'from-label' %>
        <%= form.text_field :tracking_code, id: :order_tracking_code, class: 'form-input' %>
      </div>

      <div class="actions">
        <%= form.submit t('view.orders.save'), class: 'btn btn-primary'  %>
      </div>
    </div>

    <div class="column col-9 pad-top-0">
      <div class="columns">
        <div class="form-group column col-4 pad-top-0">
          <%= form.label :subtotal, class: 'from-label' %>
          <%= form.text_field :subtotal, id: :order_subtotal, class: 'form-input js-form-subtotal' %>
        </div>

        <div class="form-group column col-4 pad-top-0">
          <%= form.label :taxes, class: 'from-label' %>
          <%= form.text_field :taxes, id: :order_taxes, class: 'form-input js-form-tax' %>
        </div>

        <div class="form-group column col-4 pad-top-0">
          <%= form.label :total, class: 'from-label' %>
          <%= form.text_field :total, id: :order_total, class: 'form-input js-form-total' %>
        </div>
      </div>

      <div class="mar-top-2">
        <%= render 'shared/dynamic_form',
                   form: form,
                   folder: 'orders',
                   association: :lines,
                   attributes: ['amount', '', 'product_id', 'detail', 'unit_price', 'tax_rate', 'tax', 'subtotal'],
                   model: OrderLine
        %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :ready_js do %>
  DynamicForm.handleFetchableSelect('.js-fetchable-select', ['unit', 'unit_price', 'tax_rate']);
  AutoTotals.init();
<% end %>
