<section class="section section-filters pad-left-2 pad-right-2">
  <%= form_tag orders_path, method: 'get' do %>
    <div class="columns">
      <div class="column col-3">
        <%= label_tag :firm_id, t('activerecord.attributes.order.firm_id'), class: 'from-label' %>
        <%= select_tag :firm_id,
                       options_for_select(
                           [[t('label.all'), nil]] + Firm.firms_for_select,
                           params[:firm_id]
                       ), { class: 'form-select' } %>
      </div>
      <div class="column col-3">
        <%= label_tag :date, t('activerecord.attributes.order.date'), class: 'from-label' %>
        <%= text_field_tag :date,
                           params[:date],
                           { id: :date, class: 'form-input', type: :date }
        %>
      </div>
      <div class="column col-3">
        <%= label_tag :status_id, t('activerecord.attributes.order_status.status'), class: 'from-label' %>
        <%= select_tag :status_id,
                       options_for_select(
                           [[t('view.order_statuses.default_filter'), nil]] + OrderStatus.statuses_for_select,
                           params[:status_id]
                       ), { class: 'form-select'} %>
      </div>
      <div class="column col-3 section-filters__search-btn">
        <%= button_tag(type: 'submit', class: 'btn') do %>
          <i class="icon icon-search"></i>
          <%= t('label.search') %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
