<%= render 'shared/basic_navigation', navigation: {
back: orders_path, edit: edit_order_path(@order)
} %>


<div class="columns">
  <div class="column col-5">
    <label class="info-label"><%= Order.human_attribute_name 'firm_id' %></label>
    <div class="info-content"><%= @order.firm.name %></div>
  </div>

  <div class="column col-2">
    <label class="info-label"><%= Order.human_attribute_name 'number' %></label>
    <div class="info-content"><%= @order.number %></div>
  </div>

  <div class="column col-5">
    <label class="info-label"><%= Order.human_attribute_name 'date' %></label>
    <div class="info-content"><%= @order.formatted_date %></div>
  </div>

  <div class="column col-5">
    <label class="info-label"><%= Order.human_attribute_name 'contact_name' %></label>
    <div class="info-content"><%= @order.contact_name %></div>
  </div>

  <div class="column col-7">
    <label class="info-label"><%= Order.human_attribute_name 'detail' %></label>
    <div class="info-content"><%= @order.detail %></div>
  </div>

  <div class="column col-3">
    <div class="pad-bottom-2">
      <label class="info-label"><%= Order.human_attribute_name 'currency' %></label>
      <div class="info-content"><%= @order.currency %></div>
    </div>

    <div class="pad-bottom-2">
      <label class="info-label"><%= Order.human_attribute_name 'deliver_fee' %></label>
      <div class="info-content"><%= @order.deliver_fee %></div>
    </div>

    <div class="pad-bottom-2">
      <label class="info-label"><%= Order.human_attribute_name 'packaging_fee' %></label>
      <div class="info-content"><%= @order.packaging_fee %></div>
    </div>

    <div class="pad-bottom-2">
      <label class="info-label"><%= Order.human_attribute_name 'expected_deliver_from' %></label>
      <div class="info-content"><%= @order.formatted_deliver_from %></div>
    </div>

    <div class="pad-bottom-2">
      <label class="info-label"><%= Order.human_attribute_name 'expected_deliver_to' %></label>
      <div class="info-content"><%= @order.formatted_deliver_to %></div>
    </div>

    <div class="pad-bottom-2">
      <label class="info-label"><%= Order.human_attribute_name 'tracking_code' %></label>
      <div class="info-content"><%= @order.tracking_code %></div>
    </div>

    <div>
      <label class="info-label"><%= Order.human_attribute_name 'user_id' %></label>
      <div class="info-content"><%= @order.user.full_name %></div>
    </div>
  </div>

  <div class="column col-9">
    <div class="columns">
      <div class="column col-4 pad-top-0">
        <label class="info-label"><%= Order.human_attribute_name 'subtotal' %></label>
        <div class="info-content"><%= @order.subtotal %></div>
      </div>

      <div class="column col-4 pad-top-0">
        <label class="info-label"><%= Order.human_attribute_name 'taxes' %></label>
        <div class="info-content"><%= @order.taxes %></div>
      </div>

      <div class="column col-4 pad-top-0">
        <label class="info-label"><%= Order.human_attribute_name 'total' %></label>
        <div class="info-content"><%= @order.total %></div>
      </div>
    </div>

    <table class="table table-classic table-hover mar-top-4">
      <thead>
      <tr>
        <th><%= OrderLine.human_attribute_name 'amount' %></th>
        <th><%= OrderLine.human_attribute_name 'product_id' %></th>
        <th><%= OrderLine.human_attribute_name 'detail' %></th>
        <th><%= OrderLine.human_attribute_name 'unit_price' %></th>
        <th><%= OrderLine.human_attribute_name 'tax_rate' %></th>
        <th><%= OrderLine.human_attribute_name 'tax' %></th>
        <th><%= OrderLine.human_attribute_name 'subtotal' %></th>
        <th><%= OrderLine.human_attribute_name 'remaining_amount' %></th>
      </tr>
      </thead>
      <tbody>
      <% @order.lines.each do |line| %>
        <tr>
          <td><%= line.amount %> <%= line.unit %></td>
          <td><%= line.product.name %></td>
          <td><%= line.detail %></td>
          <td><%= line.unit_price %></td>
          <td><%= line.tax_rate %></td>
          <td><%= line.tax %></td>
          <td><%= line.subtotal %></td>
          <td><%= line.remaining_amount %> <%= line.unit %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
