<p>
  <b><%= Contact.human_attribute_name 'name' %>:</b>
  <%= contact.name %>
</p>

<p>
  <b><%= Contact.human_attribute_name 'area' %>:</b>
  <%= contact.area %>
</p>

<p>
  <b><%= Contact.human_attribute_name 'details' %>:</b>
  <%= contact.details %>
</p>

