<%= form_with(url: @information[:form_url], model: permission, local: true) do |form| %>
  <% if permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permission.errors.count, 'error') %> prohibited this permission from being saved:</h2>

      <ul>
      <% permission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @firm %>
    <div class="form-group">
      <%= form.label :certificate_id, class: 'from-label' %>
      <%= form.select :certificate_id, Certificate.certificates_for_select, {}, {
          id: :permission_certificate_id,
          class: 'form-select js-focus-this'
      } %>
    </div>
  <% end %>

  <% if @certificate %>
    <div class="form-group">
      <%= form.label :firm_id, class: 'from-label' %>
      <%= form.select :firm_id, Firm.firms_for_select, {}, {
          id: :permission_firm_id,
          class: 'form-select js-focus-this'
      } %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :from_date, class: 'from-label' %>
    <%= form.text_field :from_date, id: :permission_from_date, class: 'form-input', type: :date  %>
  </div>

  <div class="form-group">
    <%= form.label :to_date, class: 'from-label' %>
    <%= form.text_field :to_date, id: :permission_to_date, class: 'form-input', type: :date  %>
  </div>

  <div class="form-group">
    <%= form.label :contact, class: 'from-label' %>
    <%= form.text_area :contact, id: :permission_contact, class: 'form-input' %>
  </div>

  <div class="actions">
    <%= form.submit t('view.permissions.save'), class: 'btn btn-primary'  %>
  </div>
<% end %>

<% content_for :ready_js do %>
  Utils.focusField(document);
<% end %>
