<table class="table table-striped table-hover mar-bottom-3">
  <thead>
    <tr>
      <% if @certificate %>
        <th><%= Permission.human_attribute_name 'firm' %></th>
      <% else %>
        <th><%= Permission.human_attribute_name 'certificate' %></th>
      <% end %>
      <th><%= Permission.human_attribute_name 'from_date' %></th>
      <th><%= Permission.human_attribute_name 'to_date' %></th>
      <th><%= Permission.human_attribute_name 'contact' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% permissions.each do |permission| %>
      <tr>
        <% if @certificate %>
          <td><%= permission.firm.name %></td>
        <% else %>
          <td><%= permission.certificate.name %></td>
        <% end %>
        <td><%= permission.from_date %></td>
        <td><%= permission.to_date %></td>
        <td><%= permission.contact %></td>
        <td>
          <%= link_to '', [parent, permission], class: 'fa fa-2x fa-info-circle'  %>
          <%= link_to '', ['edit', parent, permission], class: 'fa fa-2x fa-pencil-square' %>
          <%= link_to '', [parent, permission], method: :delete, data: { confirm: t('messages.confirmation') }, class: 'fa fa-2x fa-trash' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @certificate %>
  <%= link_to t('view.permissions.new_title'), new_certificate_permission_path(@certificate), class: 'btn btn-primary'  %>
<% elsif @firm %>
  <%= link_to t('view.permissions.new_title'), new_firm_permission_path(@firm), class: 'btn btn-primary'  %>
<% end %>

