<table class="table table-striped table-hover mar-bottom-3">
  <thead>
    <tr>
      <% if @certificate %>
        <th><%= Permission.human_attribute_name 'firm' %></th>
      <% else %>
        <th><%= Permission.human_attribute_name 'certificate' %></th>
      <% end %>
      <th><%= Permission.human_attribute_name 'from_date' %></th>
      <th><%= Permission.human_attribute_name 'to_date' %></th>
      <th><%= Permission.human_attribute_name 'state' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'permissions/permission', collection: permissions, locals: { parent: parent } %>
  </tbody>
</table>

<% if @certificate %>
  <%= link_to t('view.permissions.new_title'), new_certificate_permission_path(@certificate), class: 'btn btn-primary'  %>
<% elsif @firm %>
  <%= link_to t('view.permissions.new_title'), new_firm_permission_path(@firm), class: 'btn btn-primary'  %>
<% end %>

<% unless params[:controller] === 'permissions' %>
  <%= link_to t('label.show_historic'), [parent, 'permissions'], class: 'btn btn-sm'  %>
<% end %>
