<% if !@no_firm %>
  <section class="section section-filters pad-left-2 pad-right-2">
    <%= form_tag [@parent, 'permissions'], method: 'get' do %>
      <%= hidden_field_tag :no_firm, @no_firm %>

      <div class="columns">
        <% if @certificate %>
          <div class="column col-3">
            <%= label_tag :filter_firm_id, t('activerecord.attributes.permission.firm'), class: 'from-label' %>
            <%= select_tag :filter_firm_id,
                           options_for_select(
                               [[t('label.all'), nil]] + Firm.firms_for_select,
                               params[:filter_firm_id]
                           ), { class: 'form-select' } %>
          </div>
        <% end %>
        <% if @firm %>
          <div class="column col-3">
            <%= label_tag :filter_certificate_id, t('activerecord.attributes.permission.certificate'), class: 'from-label' %>
            <%= select_tag :filter_certificate_id,
                           options_for_select(
                               [[t('label.all'), nil]] + Certificate.certificates_for_select,
                               params[:filter_certificate_id]
                           ), { class: 'form-select' } %>
          </div>
        <% end %>
        <%= render 'shared/components/filter_button' %>
      </div>
    <% end %>
  </section>
<% end %>
