<%%= render 'shared/basic_navigation', navigation: {
  back: <%= index_helper %>_path, edit: edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)
} %>

<% attributes.reject(&:password_digest?).each do |attribute| -%>
<p>
  <b><%%= <%= singular_table_name.camelize %>.human_attribute_name '<%= attribute.name %>' %>:</b>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</p>

<% end -%>
