<tr class="js-nested-item-row">
  <td>
    <%= form.text_field :amount, id: :line_amount, class: 'form-input js-nested-item-amount' %>
  </td>
  <td>
    <%= form.text_field :unit, id: :line_unit, class: 'form-input js-nested-item-unit' %>
  </td>
  <td>
    <!--also should take care of knowing if it's a sale or a pruchase to get the correct price-->
    <%= form.select :product_id,
                    Product.products_for_select,
                    { prompt: t('view.products.select_prompt') },
                    { id: :line_product_id,
                      class: 'form-select js-fetchable-select',
                      data: { model: 'product', fetch_url: find_trades_url }
                    }
    %>
  </td>
  <td>
    <%= form.text_field :detail, id: :line_detail, class: 'form-input' %>
  </td>
  <td>
    <%= form.text_field :unit_price, id: :line_unit_price, class: 'form-input  js-nested-item-unit_price' %>
  </td>
  <td>
    <!--disabled, autocompleted with info about the product on the date this was created-->
    <%= form.text_field :tax_rate, id: :line_tax_rate, class: 'form-input  js-nested-item-tax_rate' %>
  </td>
  <td>
    <%= form.text_field :tax, id: :line_tax, class: 'form-input js-nested-item-tax' %>
  </td>
  <td>
    <%= form.text_field :subtotal, id: :line_subtotal, class: 'form-input js-nested-item-subtotal js-add-fieldset-input' %>
  </td>
  <td>
    <button class="button js-remove-fieldset">X</button>
  </td>

  <%= form.hidden_field :_destroy, class: 'js-nested-item-destroy' %>
  <%= form.hidden_field :position, id: :line_position, class: 'form-input' %>
</tr>
