<tr class="js-nested-item-row">
  <td>
    <%= form.text_field :amount, id: :line_amount, class: 'form-input' %>
  </td>
  <td>
    <!--disabled, autocompleted with info about the product on the date this was created-->
    <span>units</span>
  </td>
  <td>
    <%= form.select :product_id, Product.products_for_select, {}, { id: :line_product_id, class: 'form-select' } %>
  </td>
  <td>
    <%= form.text_field :detail, id: :line_detail, class: 'form-input' %>
  </td>
  <td>
    <%= form.text_field :unit_price, id: :line_unit_price, class: 'form-input' %>
  </td>
  <td>
    <!--disabled, autocompleted with info about the product on the date this was created-->
    <%= form.text_field :tax_rate, id: :line_tax_rate, class: 'form-input' %>
  </td>
  <td>
    <%= form.text_field :tax, id: :line_tax, class: 'form-input' %>
  </td>
  <td>
    <%= form.text_field :subtotal, id: :line_subtotal, class: 'form-input js-add-fieldset-input' %>
  </td>
  <td>
    <button class="button js-remove-fieldset">X</button>
  </td>

  <%= form.hidden_field :_destroy, class: 'js-nested-item-destroy' %>
  <%= form.hidden_field :position, id: :line_position, class: 'form-input' %>
  <%= form.hidden_field :currency, id: :line_currency, class: 'form-input' %>
  <%= form.hidden_field :remaining_amount, id: :line_remaining_amount, class: 'form-input' %>
</tr>
