<table class="table table-striped table-hover mar-bottom-3">
  <thead>
    <tr>
      <th><%= BudgetLine.human_attribute_name 'budget' %></th>
      <th><%= BudgetLine.human_attribute_name 'product' %></th>
      <th><%= BudgetLine.human_attribute_name 'unit_price' %></th>
      <th><%= BudgetLine.human_attribute_name 'currency' %></th>
      <th><%= BudgetLine.human_attribute_name 'tax_rate' %></th>
      <th><%= BudgetLine.human_attribute_name 'unit' %></th>
      <th><%= BudgetLine.human_attribute_name 'position' %></th>
      <th><%= BudgetLine.human_attribute_name 'price_change' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @budget_lines.each do |budget_line| %>
      <tr>
        <td><%= budget_line.budget %></td>
        <td><%= budget_line.product %></td>
        <td><%= budget_line.unit_price %></td>
        <td><%= budget_line.currency %></td>
        <td><%= budget_line.tax_rate %></td>
        <td><%= budget_line.unit %></td>
        <td><%= budget_line.position %></td>
        <td><%= budget_line.price_change %></td>
        <td>
          <%= link_to '', budget_line, class: 'fa fa-2x fa-info-circle'  %>
          <%= link_to '', edit_budget_line_path(budget_line), class: 'fa fa-2x fa-pencil-square' %>
          <%= link_to '', budget_line, method: :delete, data: { confirm: t('messages.confirmation') }, class: 'fa fa-2x fa-trash' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('view.budget_lines.new_title'), new_budget_line_path, class: 'btn btn-primary'  %>
