<!--# TODO: there is an issue with the EDIT after adding the product types-->

<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: 'from-label' %>
    <%= form.text_field :name, id: :product_name, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :description, class: 'from-label' %>
    <%= form.text_area :description, id: :product_description, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :area, class: 'from-label' %>
    <%= form.text_field :area, id: :product_area, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :type, class: 'from-label' %>
    <%= form.select :type, Product.types_for_select, {}, { id: :product_type, class: 'form-select' } %>
  </div>

  <div class="form-group">
    <%= form.label :unit, class: 'from-label' %>
    <%= form.text_field :unit, id: :product_unit, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :initial_stock, class: 'from-label' %>
    <%= form.text_field :initial_stock, id: :product_initial_stock, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :current_stock, class: 'from-label' %>
    <%= form.text_field :current_stock, id: :product_current_stock, class: 'form-input' %>
  </div>

  <div class="actions">
    <%= form.submit t('view.products.save'), class: 'btn btn-primary' %>
  </div>
<% end %>
