<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :product_description %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.text_field :area, id: :product_area %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :product_user_id %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :product_type %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.text_field :unit, id: :product_unit %>
  </div>

  <div class="field">
    <%= form.label :initial_stock %>
    <%= form.text_field :initial_stock, id: :product_initial_stock %>
  </div>

  <div class="field">
    <%= form.label :current_stock %>
    <%= form.text_field :current_stock, id: :product_current_stock %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
