<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Area:</strong>
  <%= @product.area %>
</p>

<p>
  <strong>User:</strong>
  <%= @user.full_name%>
</p>

<p>
  <strong>Type:</strong>
  <%= @product.type %>
</p>

<p>
  <strong>Initial stock:</strong>
  <%= @product.initial_stock_with_unit %>
</p>

<p>
  <strong>Current stock:</strong>
  <%= @product.current_stock_with_unit %>
</p>

<%= link_to '', edit_product_path(@product), class: 'fa fa-2x fa-pencil-square' %> |
<%= link_to t('label.back'), products_path %>
