<p id="notice"><%= notice %></p>

<p>
  <strong><%= Product.human_attribute_name :name %>:</strong>
  <%= @product.name %>
</p>

<p>
  <strong><%= Product.human_attribute_name :description %>:</strong>
  <%= @product.description %>
</p>

<p>
  <strong><%= Product.human_attribute_name :area %>:</strong>
  <%= @product.area %>
</p>

<p>
  <strong><%= t('activerecord.models.user.one') %>:</strong>
  <%= @user.full_name%>
</p>

<p>
  <strong><%= Product.human_attribute_name :type %>:</strong>
  <%= @product.type %>
</p>

<p>
  <strong><%= Product.human_attribute_name :initial_stock %>:</strong>
  <%= @product.initial_stock_with_unit %>
</p>

<p>
  <strong><%= Product.human_attribute_name :current_stock %>:</strong>
  <%= @product.current_stock_with_unit %>
</p>

<%= link_to '', edit_product_path(@product), class: 'fa fa-2x fa-pencil-square' %> |
<%= link_to t('label.back'), products_path %>
