<section class="section section-filters mar-top-2 pad-left-2 pad-right-2">
  <%= form_tag @information[:show_path], method: 'get' do %>
    <div class="columns">
      <div class="column col-5">
        <%= label_tag :filter_product_name, t('attributes.product'), class: 'from-label' %>
        <%= text_field_tag :filter_product_name, params[:filter_product_name], { class: 'form-input' } %>
      </div>
      <%= hidden_field_tag :trade_type, params[:trade_type] %>
      <%= render 'shared/components/filter_button' %>
    </div>
  <% end %>
</section>