<!doctype html>
<html>
  <head>
    <title><%= t 'app_name' %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.min.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/menu' %>

    <%= render 'shared/titles' %>

    <section class="section section-content">
      <div class="container grid-1280">
        <%= render 'shared/notices' if notice %>

        <div class="pad-top-3">
          <%= yield %>
        </div>
      </div>
    </section>

    <div id="modal" class="fade"></div>

    <script>
      $(document).ready(function () {
        DynamicForm.init();

        <%= yield :ready_js %>
      });
    </script>
  </body>
</html>
