<!doctype html>
<html>
  <head>
    <title><%= t 'app_name' %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/menu' %>

    <%= render 'shared/titles' %>

    <section class="section section-content">
      <div class="container grid-1280">
        <div class="columns">
          <div class="column col-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </section>

    <div id="modal" class="fade"></div>

    <%#= render 'shared/notice' if flash.notice %>
    <%#= render 'shared/alert' if flash.alert %>
  </body>
</html>
